<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aftership" translate="label" sortOrder="10">
            <label>AfterShip</label>
        </tab>

        <section id="aftership_tracking_connect" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Connect</label>
            <tab>aftership</tab>
            <resource>AfterShip_Tracking::aftership_tracking_connect</resource>
            <group id="connect_link" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
		    <label>Connect with AfterShip</label>
		    <comment><![CDATA[<a target="_blank" href="https://organization.automizely.com/apps/aftership/magento-2"><img src="https://assets.aftership.com/apps/images/connect_magento2_with_aftership.png" alt="Connect with AfterShip"></a><style type="text/css">table.form-list{display: none}</style>]]></comment>
		    <field id="useless" translate="label" type="note" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			</field>
		</group>
        </section>
    </system>
</config>

